body {
  text-align: center;
  font-size: 20px;
  font-family:"Arial", "Meiryo", sans-serif
}
.blue {
  color: skyblue
}
.pink {
  color: rgb(255, 192, 203) 
}
h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: 40px;
  font-style: normal;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114)
}
#child > p {
  font-weight: bold;
}
