#top {
  text-align: center;
  width: 800px;
  background-color: #dcc9f4;
  margin: 20px auto;   
}
.top-child {
  display: inline-block;
  width: 20%;
  background-color: #ffd9df;       
}
#middle {
  width: 800px;
  height: 800px;
  background-color: #ffd9df;
  margin: 20px auto;
  position: relative; 
}
#middle-child01 {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
}
#middle-child02 {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
}
#middle-child03 {
  position: absolute;
  top: 500px;
  left: 500px;
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
}
#bottom {
  width: 800px;
  height: 300px;
  background-color: #87ceeb;
  margin: 20px auto;
}
#bottom > div {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}
#bottom-child02 {
position: relative;
left: 200px;   
}
#bottom-child03 {
position: relative;
left: 400px;   
}